---
import '@styles/main.pcss'
import Navigation from '@components/navigation.astro'
import Footer from '@components/footer.astro'
import AnalyticsSnippet from '@components/utility/analyticsSnippet.astro'
import ContactSec from '@components/contactSec.astro'
import authorList from '@data/authors.js'
import { menuList, menuList2, socialList } from '@data/nav.js'
import { Image, getImage } from 'astro:assets'
import HeaderMeta from '@components/utility/headerMeta.astro'
import { format as formatDate } from 'date-fns'
import '@fontsource/ubuntu/400.css'
import '@fontsource/ubuntu/700.css'
import '@fontsource/ubuntu-mono/400.css'
import '@fontsource/ubuntu-mono/700.css'
import '@fontsource/merriweather/400.css'
import '@fontsource/merriweather/700.css'
import markdownit from 'markdown-it'
import { convert } from 'html-to-text'

export interface Props {
	frontmatter: { title, author, date, description, img, body, tags, category, loadCodePenJs }
}

const md = markdownit()
const { title, author, date, description, img, body, tags, loadCodePenJs } = Astro.props.frontmatter
const publishDate = new Date(date)
const displayDate = formatDate(publishDate, 'MMM dd, yyyy')
const optimizedPostImg = await getImage({ src: img.src, width: img.src.width, height: img.src.height })

const hero = { url: optimizedPostImg.src, width: img.src.width, height: img.src.height }
const pageUrl = `${import.meta.env.SITE}${Astro.url.pathname}`
const postPlainText = convert(md.render(body))

const authorInfo = authorList.find(item => (item.name === author))
const postMeta = {
	date: publishDate,
	author: {
		name: author,
		url: import.meta.env.SITE
	},
	postBody: postPlainText
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<HeaderMeta
			title={title}
			description={description}
			siteName={import.meta.env.SITE_NAME}
			hero={hero}
			canonical={pageUrl}
			postMeta={postMeta}
			keyWords={tags ?? undefined}
		/>

		<AnalyticsSnippet />
	</head>
	<body>
		<div class="outer">
			<Navigation menuList={menuList} socialList={socialList} />
			<div class="post_bg" style={`background-image: url(${optimizedPostImg.src})`}>
				<div class="post_bg_cite">
					<span>Photo by <a href={img.byUrl} target="_blank">{img.byName}</a> on <a href={img.origSrc} target="_blank">Unsplash</a></span>
				</div>
			</div>

			<div class="middle_content">
				<div class="post_pos container_l">
					<main>
						<div class="post_col">
							<section class="title_space">
								<ul class="breadcrums">
									<li><a href="/blog">blog</a></li>
									<li>{title}</li>
								</ul>
								<h1 class="hero_title h2">{title}</h1>
								<p class="post_date">{displayDate}</p>
							</section>

							<article>
								<slot />
							</article>

							<div class="author_sec">
								<h3 class="h2 hero_title">Author</h3>
								{authorInfo ?
									<div class="author_space">
										<div class="author_pic">
											<Image src={authorInfo.img} alt={authorInfo.name} width="150" height="150" />
										</div>
										<div class="author_txt">
											<h4 class="">{ authorInfo.name }</h4>
											<p class="">{ authorInfo.bio }</p>
										</div>
									</div>
								:
									<div class="author_space">
										<div class="author_txt">
											<h4 class="">{ author }</h4>
										</div>
									</div>
								}
							</div>
						</div>

						{loadCodePenJs ? <script is:inline async src="https://public.codepenassets.com/embed/index.js"></script> : ''}

						<!-- <script async src="https://public.codepenassets.com/embed/index.js"></script> -->
					</main>
				</div>
			</div>


			<ContactSec />

			<Footer menuList={menuList} menuList2={menuList2} socialList={socialList} />
		</div>

	</body>
</html>

<style lang="postcss">
	@import '../styles/mediaQueries.pcss';

	.post_bg {
		width: 100%;
		min-height: 200px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: var(--color-grey-800);

		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		padding: var(--size-4);

		.post_bg_cite {
			background-color: var(--color-grey-300);
			border: 2px solid var(--color-grey-500);
			border-radius: 8px;
			padding: var(--size-2) var(--size-3);
			font-size: var(--scale-00);
			max-width: 400px;
			opacity: .7;
			transition: opacity .3s;

			&:hover {
				opacity: 1;
			}
		}
	}

	.post_pos {
		margin-bottom: var(--size-24);

		main {
			flex: 0 0 auto;
			width: 100%;
			max-width: 800px;
			position: relative;
			z-index: 1;
	
			.post_col {
				background-color: var(--color-white);
				padding-top: var(--size-6);
				padding-bottom: var(--size-6);
			}
		}

		section.title_space {
			margin-bottom: var(--size-10);

			.breadcrums {
				display: flex;
				justify-content: flex-start;
				align-items: center;

				li {
					margin-right: var(--size-2);
					color: var(--color-grey);
					font-family: Ubuntu, sans-serif;

					&:last-child {
						max-width: 330px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					&::after {
						content: '/';
						margin-left: var(--size-2);
					}
				}
			}

			.post_date {
				color: var(--color-grey);
				font-family: Ubuntu, sans-serif;
			}
		}

		& article {
			font-family: Merriweather, sans-serif;
		}

		& aside {
			flex: 0 0 auto;
		}
	}

	.middle_content {
		background-color: var(--color-white);

		@media (--xl) {
			background-color: transparent;
		}
	}

	@media (--xl) {
		.post_bg {
			min-height: 500px;
		}

		.post_pos {
			margin-bottom: 0;

			main {
				top: -300px;

				.post_col{
					border-radius: 16px;
					padding-left: var(--size-8);
					padding-right: var(--size-12);
				}
			}
		}
	}

	.author_sec {
		margin-top: var(--size-24);
		margin-bottom: var(--size-24);

		.author_space {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;

			margin-top: var(--size-12);

			.author_pic {
				flex: 0 0 auto;
				margin-right: var(--size-6);

				img {
					display: block;
					width: 150px;
					height: 150px;
					border-radius: 999px;
					border: 6px solid var(--color-orange);
				}
			}

			.author_txt {
				flex: 1 1 200px;

				h4 {
					font-weight: bold;
					margin-bottom: var(--size-2);
				}

				p {
					line-height: 2;
				}
			}
		}
	}
</style>

<script>
	const codeBlocks = [...document.querySelectorAll('.astro-code')]
	for (const codeBlock of codeBlocks) {
		const btn = document.createElement('button')
		const textToCopy = codeBlock.textContent
		btn.classList.add('copy_btn')
		btn.innerText = 'copy'
		btn.addEventListener('click', () => {
			navigator.clipboard.writeText(textToCopy)
				.catch(err => {
					console.log('copy to clipboard failed: ', err)
				})

			setTimeout(() => btn.blur(), 300)
		})

		codeBlock.appendChild(btn)
	}
</script>
